USE [VENTAS]
GO
/****** Object:  Table [dbo].[TARJETA_CLIENTES_FRECUENTES]    Script Date: 17/10/2023 02:06:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETA_CLIENTES_FRECUENTES](
	[id_tarjeta] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[numeroTarjeta] [nchar](10) NOT NULL,
	[fechaRegistro] [nchar](10) NOT NULL,
	[puntosAcumulados] [float] NOT NULL,
 CONSTRAINT [PK_TARJETA_CLIENTES_FRECUENTES] PRIMARY KEY CLUSTERED 
(
	[id_tarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TARJETA_CLIENTES_FRECUENTES]  WITH CHECK ADD  CONSTRAINT [FK_TARJETA_CLIENTES_FRECUENTES_CLIENTES1] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTES] ([id_cliente])
GO
ALTER TABLE [dbo].[TARJETA_CLIENTES_FRECUENTES] CHECK CONSTRAINT [FK_TARJETA_CLIENTES_FRECUENTES_CLIENTES1]
GO
