USE [VENTAS]
GO
/****** Object:  Table [dbo].[VARIANTES_PRODUCTOS]    Script Date: 17/10/2023 02:06:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VARIANTES_PRODUCTOS](
	[id_variante] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[Valor] [varchar](50) NOT NULL,
	[sobreprecio] [float] NOT NULL,
 CONSTRAINT [PK_VARIANTES_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[id_variante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
