USE [master]
GO
/****** Object:  Database [VENTAS]    Script Date: 17/10/2023 01:54:37 p. m. ******/
CREATE DATABASE [VENTAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VENTAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VENTAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VENTAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VENTAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VENTAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VENTAS]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 17/10/2023 01:54:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombreCliente] [nvarchar](230) NOT NULL,
	[numeroCelular] [bigint] NULL,
	[correo] [nvarchar](255) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 17/10/2023 01:54:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombreEmpleado] [nvarchar](255) NOT NULL,
	[sucursal] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 17/10/2023 01:54:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_tipoPago] [int] NOT NULL,
	[montoPago] [float] NOT NULL,
 CONSTRAINT [PK_Pagos] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 17/10/2023 01:54:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[precio] [float] NOT NULL,
	[stock] [float] NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETA_CLIENTES_FRECUENTES]    Script Date: 17/10/2023 01:54:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETA_CLIENTES_FRECUENTES](
	[id_tarjeta] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[numeroTarjeta] [nchar](10) NOT NULL,
	[fechaRegistro] [nchar](10) NOT NULL,
	[puntosAcumulados] [float] NOT NULL,
 CONSTRAINT [PK_TARJETA_CLIENTES_FRECUENTES] PRIMARY KEY CLUSTERED 
(
	[id_tarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tiposDePagos]    Script Date: 17/10/2023 01:54:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiposDePagos](
	[id_tipoPago] [int] NOT NULL,
	[nombre_pago] [varchar](50) NOT NULL,
	[costoAdicional] [float] NOT NULL,
 CONSTRAINT [PK_tiposDePagos] PRIMARY KEY CLUSTERED 
(
	[id_tipoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VARIANTES_PRODUCTOS]    Script Date: 17/10/2023 01:54:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VARIANTES_PRODUCTOS](
	[id_variante] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[Valor] [varchar](50) NOT NULL,
	[sobreprecio] [float] NOT NULL,
 CONSTRAINT [PK_VARIANTES_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[id_variante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 17/10/2023 01:54:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_Detalle] [int] NOT NULL,
	[fechaVenta] [date] NOT NULL,
	[id_empleado] [int] NOT NULL,
	[id_TarjetaCliente] [int] NULL,
	[id_cliente] [int] NOT NULL,
	[total] [float] NOT NULL,
 CONSTRAINT [PK_VENTAS] PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas_Detalles]    Script Date: 17/10/2023 01:54:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas_Detalles](
	[id_Detalle] [int] NOT NULL,
	[id_variante] [int] NULL,
	[id_Producto] [int] NOT NULL,
	[cantidad] [float] NOT NULL,
	[precio_unitario] [float] NOT NULL,
	[subtotal] [float] NOT NULL,
 CONSTRAINT [PK_ventas_Detalles] PRIMARY KEY CLUSTERED 
(
	[id_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_tiposDePagos] FOREIGN KEY([id_tipoPago])
REFERENCES [dbo].[tiposDePagos] ([id_tipoPago])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_tiposDePagos]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_VENTAS1] FOREIGN KEY([id_venta])
REFERENCES [dbo].[VENTAS] ([id_venta])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_VENTAS1]
GO
ALTER TABLE [dbo].[TARJETA_CLIENTES_FRECUENTES]  WITH CHECK ADD  CONSTRAINT [FK_TARJETA_CLIENTES_FRECUENTES_CLIENTES1] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTES] ([id_cliente])
GO
ALTER TABLE [dbo].[TARJETA_CLIENTES_FRECUENTES] CHECK CONSTRAINT [FK_TARJETA_CLIENTES_FRECUENTES_CLIENTES1]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_CLIENTES] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTES] ([id_cliente])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_CLIENTES]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_EMPLEADOS] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADOS] ([id_empleado])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_EMPLEADOS]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_TARJETA_CLIENTES_FRECUENTES1] FOREIGN KEY([id_TarjetaCliente])
REFERENCES [dbo].[TARJETA_CLIENTES_FRECUENTES] ([id_tarjeta])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_TARJETA_CLIENTES_FRECUENTES1]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_ventas_Detalles] FOREIGN KEY([id_Detalle])
REFERENCES [dbo].[ventas_Detalles] ([id_Detalle])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_ventas_Detalles]
GO
ALTER TABLE [dbo].[ventas_Detalles]  WITH CHECK ADD  CONSTRAINT [FK_ventas_Detalles_PRODUCTOS] FOREIGN KEY([id_Producto])
REFERENCES [dbo].[PRODUCTOS] ([id_producto])
GO
ALTER TABLE [dbo].[ventas_Detalles] CHECK CONSTRAINT [FK_ventas_Detalles_PRODUCTOS]
GO
ALTER TABLE [dbo].[ventas_Detalles]  WITH CHECK ADD  CONSTRAINT [FK_ventas_Detalles_VARIANTES_PRODUCTOS] FOREIGN KEY([id_variante])
REFERENCES [dbo].[VARIANTES_PRODUCTOS] ([id_variante])
GO
ALTER TABLE [dbo].[ventas_Detalles] CHECK CONSTRAINT [FK_ventas_Detalles_VARIANTES_PRODUCTOS]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CLIENTE QUE REALIZO COMPRA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VENTAS', @level2type=N'CONSTRAINT',@level2name=N'FK_VENTAS_CLIENTES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID EMPLEADO QUE REALIZÓ LA VENTA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VENTAS', @level2type=N'CONSTRAINT',@level2name=N'FK_VENTAS_EMPLEADOS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID DEL PRODUCTO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ventas_Detalles', @level2type=N'CONSTRAINT',@level2name=N'FK_ventas_Detalles_PRODUCTOS'
GO
USE [master]
GO
